[submodule "test-corpus"]
	path = test-corpus
	url = https://github.com/UW-HARVEST/Test-Corpus.git
[submodule "results"]
	path = results
	url = https://github.com/UW-HARVEST/harvest-agentic-translate-results.git
